.explore-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-top: 6.1rem;
}


.explore-menu-text {
    font-size: 1rem;
  color: #555;
  max-width: 600px;
  line-height: 1.5;
}

.explore-menu-list {
    display: flex;
    justify-content: center; /* Centers the category items instead of spacing them apart */
    align-items: center;
    gap: 30px;
    text-align: center;
    overflow-x: auto;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item .active {
    border: 4px solid tomato;
    padding: 2px;
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #E2E2E2;
    border: none;
}

@media (max-width: 1050px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }
}
